---
interface Props {
	letter: string,
	word: string,
	hiddenImage: boolean,
	imageSrc: string,
	imageAlt: string,
	imagePosition: string,
	audioSrc: string,
}

const { letter, word, hiddenImage, imageSrc, imageAlt, imagePosition, audioSrc } = Astro.props;

import { Image } from 'astro:assets'
---

<div class="letter-card" data-audio={audioSrc}>
	<h2>{letter}</h2>
	<p>{word}</p>
	<Image class={hiddenImage ? "hidden" : imagePosition}} src={imageSrc} alt={imageAlt} height="56" width="56"/>
</div>
<style>
	.letter-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}

	.letter-card > h2 {
		margin: 0;
		font-size: 5rem;
		line-height: 5.5rem;
		cursor: pointer;
	}
	.letter-card > p {
		margin: 0;
		cursor: pointer;
	}

	.letter-card > img {
		position: absolute;
	}

	.letter-card >img.topRight {
		top: -16px;
		right: -16px;
	}

	.letter-card >img.hidden {
		display: none;
	}

	.letter-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.letter-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
<script>
	const cards = document.querySelectorAll(".letter-card");
	cards?.forEach((card) => {
		card.addEventListener("click", function(){
			new Audio(card.dataset.audio).play();
		}) 
	})
</script>